<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>Filtroadmin</filter-name>
        <filter-class>servlets.Filtroadmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filtroadmin</filter-name>
        <url-pattern>/admin/</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginManager</servlet-name>
        <servlet-class>servlets.LoginManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquivalenciaManager</servlet-name>
        <servlet-class>servlets.EquivalenciaManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginManager</servlet-name>
        <url-pattern>/LoginManager</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PersistenceManager</servlet-name>
        <servlet-class>servlets.PersistenceManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersistenceManager</servlet-name>
        <url-pattern>/admin/PersistenceManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquivalenciaManager</servlet-name>
        <url-pattern>/EquivalenciaManager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
</web-app>
